<a href="https://colab.research.google.com/github/Harishkumar-J/Market-Data-Analysis/blob/main/Market_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ========================================
# ðŸ“Š Market Transaction Analysis Project
# ========================================

# âœ’ Initial packages and data load

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Pandas** - For handling and analyzing *tabular data*. Reading CSV/Excel files, cleaning data, grouping, aggregations.

**Numpy** - Numerical computations and arrays. Often used with pandas for fast calculations.

**matplotlib.pyplot** - Base Python library for creating plots/graphs

**seaborn** - Statistical visualization library built on top of Matplotlib.
Makes prettier and easier plots with less code.

In [2]:
from ast import literal_eval
from datetime import datetime

**ast.literal_eval** - Safely evaluates a string that looks like a Python literal into a Python object.

Example: turning a string **"['Ketchup', 'Shaving Cream', 'Light Bulbs']"** *(Product colum in CSV file)* into a python list => ['Ketchup', 'Shaving Cream', 'Light Bulbs']

**datetime** - Useful for parsing date strings or calculating time differences

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# Settings
pd.set_option("display.max_columns", None)
sns.set_style("whitegrid")

**set_option** - Show all columns when printing a DataFrame, donâ€™t truncate them *(by default, pandas may hide some columns if there are too many)*

**sns.set_style("whitegrid")** - This is a Seaborn global style setting.
"whitegrid" adds a white background with light gray gridlines to all plots.

In [5]:
file_path = "/content/drive/MyDrive/Greenwich/Project_Market_Analysis/Retail_Transactions_Dataset.csv"

df = pd.read_csv(file_path)
df.head()

,Transaction_ID,Date,Customer_Name,Product,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion
0,1000000000,2022-01-21 06:27:29,Stacey Price,"['Ketchup', 'Shaving Cream', 'Light Bulbs']",3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN
1,1000000001,2023-03-01 13:01:21,Michelle Carlson,"['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...",2,25.93,Cash,San Francisco,Specialty Store,True,Professional,Fall,BOGO (Buy One Get One)
2,1000000002,2024-03-21 15:37:04,Lisa Graves,['Spinach'],6,41.49,Credit Card,Houston,Department Store,True,Professional,Winter,NaN
3,1000000003,2020-10-31 09:59:47,Mrs. Patricia May,"['Tissues', 'Mustard']",1,39.34,Mobile Payment,Chicago,Pharmacy,True,Homemaker,Spring,NaN
4,1000000004,2020-12-10 00:59:59,Susan Mitchell,['Dish Soap'],10,16.42,Debit Card,Houston,Specialty Store,False,Young Adult,Winter,Discount on Selected Items

In [6]:
print("Data Shape:", df.shape)

Data Shape: (1000000, 13)

# âš’ Data Cleaning

In [7]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

**pd.to_datetime()** - Converts a column (here df['Date']) into pandas datetime objects (datetime64[ns] dtype).
This makes it easier to filter by date, extract year/month/day, do time differences, etc.

**errors='coerce** - invalid rows become NaT*(Not a Time)*

In [8]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour

so now the data frame with added new columns will look like,             
             
              Date   Year  Month Day Hour
2022-01-21 06:27:29 ----  2022   ----  1  ----21  ---- 6

2022-02-15 14:45:10  ----   2022  ----    2  ---- 15   ----  14

In [9]:
df['Product'].head()

0          ['Ketchup', 'Shaving Cream', 'Light Bulbs']
1    ['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...
2                                          ['Spinach']
3                               ['Tissues', 'Mustard']
4                                        ['Dish Soap']
Name: Product, dtype: object

In [10]:
df['Product'] = df['Product'].apply(lambda x: literal_eval(x) if isinstance(x, str) else x)

**apply(lambda x: ... if)** -
Goes through each row in the Product column and applies a function.

**isinstance(x, str)** -
Checks if the current value is a string.

If it's already a Python list, we don't want to touch it.

**literal_eval(x)** -
Converts the string representation of a Python object into the actual object

In [11]:
df['Product'].head()

0            [Ketchup, Shaving Cream, Light Bulbs]
1    [Ice Cream, Milk, Olive Oil, Bread, Potatoes]
2                                        [Spinach]
3                               [Tissues, Mustard]
4                                      [Dish Soap]
Name: Product, dtype: object

In [14]:
print("\nMissing values:\n", df.isnull().sum())

Missing values:
 Transaction_ID       0
Date                 0
Customer_Name        0
Product              0
Total_Items          0
Total_Cost           0
Payment_Method       0
City                 0
Store_Type           0
Discount_Applied     0
Customer_Category    0
Season               0
Promotion            0
Year                 0
Month                0
Day                  0
Hour                 0
dtype: int64

Checking for Missing values

In [13]:
df['Promotion'] = df['Promotion'].fillna("None")

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 17 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Transaction_ID     1000000 non-null  object
 1   Date               1000000 non-null  datetime64[ns]
 2   Customer_Name      1000000 non-null  object
 3   Product            1000000 non-null  object
 4   Total_Items        1000000 non-null  int64
 5   Total_Cost         1000000 non-null  float64
 6   Payment_Method     1000000 non-null  object
 7   City               1000000 non-null  object
 8   Store_Type         1000000 non-null  object
 9   Discount_Applied   1000000 non-null  bool
 10  Customer_Category  1000000 non-null  object
 11  Season             1000000 non-null  object
 12  Promotion          1000000 non-null  object
 13  Year               1000000 non-null  int32
 14  Month              1000000 non-null  int32
 15  Day                1000000 non-null  int32
 16  Hour               1000000 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(1), int32(4), int64(1), object(9)
memory usage: 107.8+ MB

In [21]:
df['Transaction_ID'] = df['Transaction_ID'].astype(str)

*To ensure the **IDs are treated as text** rather than numbers, which can prevent issues with leading zeros or other numeric interpretations.*

In [19]:
str_cols = ['Customer_Name','Payment_Method','City','Store_Type','Customer_Category','Season','Promotion']
for col in str_cols:
    df[col] = df[col].str.strip()

*Strip leading/trailing spaces in text columns*